.projects {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-grow: 1;
}

.project-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 1;

  /* position: relative;
  left: 20%; */
}

.project-description {
  text-align: justify;
}

.left-section,
.right-section {
  /* width: 40%; */
  align-self: center;
  position: relative;
}

.left-section {
  width: 30%;
}

.right-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.qr-project-image {
  height: 80%;
  position: absolute;
  opacity: 0.5;

  border-radius: 1em;
  z-index: 0;

  transition: max-height 0.1s linear, opacity 0.1s linear;
}

.project-image {
  width: 70%;
  position: absolute;
  opacity: 0.5;

  border-radius: 1em;
  z-index: 0;

  transition: width 0.1s linear, opacity 0.1s linear;
}

.project-image:hover {
  opacity: 1;
  z-index: 1;
  width: 75%;
}

.qr-project-image:hover {
  opacity: 1;
  z-index: 1;
  max-height: 80%;
}

.right-section:has(.project-image:hover) :not(.project-image:hover) {
  opacity: 0.5;
  z-index: 0;
}

.right-section:has(.qr-project-image:hover) :not(.qr-project-image:hover) {
  opacity: 0.5;
  z-index: 0;
}

.image-1 {
  opacity: 1;
  z-index: 1;

  bottom: 15em;
}

.image-2 {
  right: 15em;
  transform: rotate(-10deg);
}

.image-3 {
  left: 15em;
  transform: rotate(10deg);
}

.qr-image-1 {
  opacity: 1;
  z-index: 1;

  bottom: 8em;
}

.qr-image-2 {
  right: 20em;
  transform: rotate(-5deg);
}

.qr-image-3 {
  left: 20em;
  transform: rotate(5deg);
}
