@font-face {
  font-family: "studiofeixenbold-trial";
  src: url("../../assets/fonts/StudioFeixenSansTRIAL-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "studiofeixenultralightitalic-trial";
  src: url("../../assets/fonts/StudioFeixenSansTRIAL-UltralightItalic.ttf")
    format("truetype");
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "studiofeixenbook-trial";
  src: url("../../assets/fonts/StudioFeixenSansTRIAL-Book.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.project-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-grow: 0.8;
  position: relative;
  top: 4em;
}

.project-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7em;

  font-family: "studiofeixenbook-trial", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.project-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 1;

  position: relative;
}

.project-description {
  text-align: justify;
  font-size: 1.1em;
  font-family: "studiofeixenbook-trial", sans-serif;
}

.left-section,
.right-section {
  /* width: 40%; */
  align-self: center;
  position: relative;
}

.left-section {
  width: 30%;
}

.right-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.qr-project-image {
  height: 80%;
  position: absolute;
  opacity: 0.5;

  border-radius: 1em;
  z-index: 0;

  transition: max-height 0.1s linear, opacity 0.1s linear;
}

.project-image {
  width: 70%;
  position: absolute;
  opacity: 0.5;

  border-radius: 1em;
  z-index: 0;

  transition: width 0.1s linear, opacity 0.1s linear;
}

.project-image:hover {
  opacity: 1;
  z-index: 1;
  width: 75%;
}

.qr-project-image:hover {
  opacity: 1;
  z-index: 1;
  max-height: 80%;
}

.right-section:has(.project-image:hover) :not(.project-image:hover) {
  opacity: 0.5;
  z-index: 0;
}

.right-section:has(.qr-project-image:hover) :not(.qr-project-image:hover) {
  opacity: 0.5;
  z-index: 0;
}

.image-1 {
  opacity: 1;
  z-index: 1;

  bottom: 15em;
}

.image-2 {
  right: 15em;
  transform: rotate(-10deg);
}

.image-3 {
  left: 15em;
  transform: rotate(10deg);
}

.qr-image-1 {
  opacity: 1;
  z-index: 1;

  bottom: 8em;
}

.qr-image-2 {
  right: 20em;
  transform: rotate(-5deg);
}

.qr-image-3 {
  left: 20em;
  transform: rotate(5deg);
}

/* Table */

.category-table {
  width: 100%;
  color: var(--color-text-hover);
  border-collapse: separate;
  border-spacing: 0 1em;

  font-size: 1.25em;
}

.category-label {
  font-family: "studiofeixenbold-trial", sans-serif;

  padding-right: 1.25em;
  font-weight: bold;
  width: 30%;
  vertical-align: top;
}

.category-items div {
  margin-bottom: 5px;

  color: var(--color-text);
  font-family: "studiofeixenultralightitalic-trial", sans-serif;
}

/* Navbar */

.project-title {
  color: var(--color-text-inactive);
  transition: color 0.1s linear;
  position: relative;
}

.project-title:hover {
  color: var(--color-text-hover);
}

.title-active {
  color: var(--color-text-hover);
}

.project-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--color-text-hover);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.09, 0.9, 0.39, 0.93);
  overflow: hidden;
}

.project-title:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

tr {
  position: relative;
}
/* Github link */

.github-link {
  position: relative;
  font-size: 1.5em;
  color: var(--color-text-hover);
  text-decoration: underline;
}

.github-link:active {
  color: var(--color-text-hover);
}

@media (max-width: 787px) {
  .project-section {
    visibility: visible;
    flex-direction: column;
    justify-content: center;
  }

  .left-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-details {
    padding: 2em;
  }

  .project-titles {
    flex-wrap: wrap;
    gap: 0 4em;

    position: relative;
    top: 1em;
    left: 0;
    transform: translateX(0);
  }

  .project-image,
  .qr-project-image {
    display: none;
  }
}
